<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="{% static "web/bootstrap/css/bootstrap.css" %}" rel="stylesheet"/>
    <link href="{% static "web/bootstrap/css/bootstrap-theme.css" %}" rel="stylesheet"/>
</head>
<body>

{% include "Test/plantillas/nav-bar_user.html" %}

<script src="{% static "web/bootstrap/popper.min.js"%}" ></script>


{#<div class="container">#}
<div class="jumbotron">
    <div class="container">
        <h1>Bienvenid@ a IDEOS</h1>
        <p>Un lugar para la formación y el desarrollo de ideas, emprendimiento y mucho mas...</p>
        <p><a class="btn btn-primary btn-lg">Iniciar »</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2><u>Portal Educativo</u></h2>
            <p>IDEOS tiene una variada gama de temas técnologicos que te formaran e informaran con el objetivo de hacerte crecer como profecional y persona, nuestro principal objetivo es que aprendas, por eso nuestra metodologia hace retrospectiva desde el enfoque de estudiante con la finalidad de brindar materiales de Calidad y Utilidad que ayuden a iniciantes y sirvan de referencia futura. La teoria hay que ponerla en practica y en IDEOS cada clase se complementa con practicas que afianzaran conocimientos permitiendote visualizar escenarios de la cotidianidad aprendiendo. </p>
            <a class="btn btn-default" href="#" role="button">Aprende »</a>
        </div>
        <div class="col-md-4">
            <h2><u>Red Social Informativa</u></h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <a class="btn btn-default" href="#" role="button">Informa / Informate »</a>
        </div>
        <div class="col-md-4">
            <h2><u>Easy Smart CV</u></h2>
            <p>Listo para adentrarte a la búsqueda de oportunidades laborales que te permitan enrriquecer conocimientos y crecer como profesional? Pues crea Curriculums de calidad con nuestra aplicacion <b>Easy Smart CV</b>, en ella encontraras una amplia gama de diseños que incrementaran las posibilidades de exito en tu busqueda de empleo. Entra y mira lo que tenemos para ti.</p>
            <a class="btn btn-default" href="#" role="button">Crea tu CV »</a>
        </div>
    </div>
    <hr>
    <footer>© IDEOS 2017</footer>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static "web/jquery-3.2.1.min.js"%}" ></script>
<script src="{% static "web/bootstrap/js/bootstrap.min.js"%}" ></script>
</body>
</html>