<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="{% static "web/bootstrap/css/bootstrap.css" %}" rel="stylesheet"/>
    <link href="{% static "web/bootstrap/css/bootstrap-theme.css" %}" rel="stylesheet"/>
</head>
<body>

{% include "Test/plantillas/nav-bar_user.html" %}

<div class="container">
    <div class="jumbotron">

        <h1>Jumbotron</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
            content or information.</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static "web/bootstrap/popper.min.js"%}" ></script>
<script src="{% static "web/jquery-3.2.1.min.js"%}" ></script>
<script src="{% static "web/bootstrap/js/bootstrap.min.js"%}" ></script>
</body>
</html>